*.LICENSE.txt
*.exe
*.mid
*.mid.*
*.pdf
*.swp
site/Gemfile.lock
site/_site/
site/terraform/*.tfvars
site/terraform/*.tfvars.json
site/terraform/*_override.tf
site/terraform/*_override.tf.json
site/terraform/.terraform*
site/terraform/.terraformrc
site/terraform/crash.*.log
site/terraform/crash.log
site/terraform/override.tf
site/terraform/override.tf.json
site/terraform/terraform.rc
site/terraform/terraform.tfstate
site/terraform/terraform.tfstate.*
